# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
env/
venv/
*.env

# Django
media/
staticfiles/

# Docker
*.log
*.env

# Terraform
.terraform/
terraform.tfstate
terraform.tfstate.backup
terraform.tfvars

# IDEs
.vscode/
.idea/
